{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="card post">
        <div class="card-body">
            <a class="profile" href="{% url 'detail_user_view' post.user.pk %}"><img class="user_image" src="{{ post.user.profile.avatar.url }}" alt="">
                <h5 class="card-title">{{ post.user.username }}</h5></a>
        </div>
        <img class="post_image" src="{{ post.image.url }}" class="card-img-bottom" alt="...">
        <div class="card-body">
            <div>
                <form action="{% url 'like' post.pk %}" method="POST">
                    {% csrf_token %}
                    {% if post in request.user.profile.likes.all %}
                        <button class="button" disabled type="submit"><img class="like" src="{% static "image/like_red.png" %}" alt="..."></button>
                    {% else %}
                        <button class="button" type="submit"><img class="like" src="{% static "image/like_white.png" %}" alt="..."></button>
                    {% endif %}
                </form>
               <p>{{ post.profile_like.count|default:0 }} отметок "Нравится"</p>
            </div>
            <h5 class="card-title"></h5>
            <p class="card-text"><a class="user_pr" href="{% url 'detail_user_view' post.user.pk %}">{{ post.user.username }}</a> {{ post.text }}</p>
        </div>
    </div>
    <div style="background-color: white; width: 1039px; height: 60px; margin-left: 128px; border-radius: 4px" class="border">
        <div>
            <form action="{% url 'create_comment' post.pk %}" method="POST">
                {% csrf_token %}
                <input name="text" id="text" type="text" style="height: 58px; width: 800px; border: none" placeholder="Добавьте комментарий">
                <button class="btn btn-primary" type="submit">Опубликовать</button>
            </form>
        </div>
    </div>
    <br>
    <br>
    <h4 style="text-align: center">Комментарии</h4>
    {% for comment in post.comment_post.all %}
        <div style="text-align: center">
            {{ comment.text }}
        </div>
        {% empty %}
        <br>
        <br>
        <h4 style="display: flex; justify-content: center; color: gray">Комментарии остуствуют</h4>
    {% endfor %}
{% endblock %}
