{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div style="padding: 100px 0 0 350px">
        <div class="border" style="background-color: white; width: 600px">
            <div style="text-align: center">
                <img style="width: 300px;" src="{% static 'image/inst.png' %}" alt="">
            </div>
            <form action="{% url 'change_password' %}" method="POST">
                {% csrf_token %}
                <div style="padding: 20px 0 0 100px">
                    <input class="border"
                           style="background-color: #FAFAFA; border-radius: 5px; padding: 7px 70px; text-align: center"
                           type="password" name="password" id="password" placeholder="Пароль"/>
                </div>
                <div style="padding: 20px 0 0 100px">
                    <input class="border"
                           style="background-color: #FAFAFA; border-radius: 5px; padding: 7px 70px; text-align: center"
                           type="password" name="password_confirm" id="password_confirm"
                           placeholder="Повторите пароль"/>
                </div>
                <div style="padding: 20px 0 0 100px">
                    <input class="border"
                           style="background-color: #FAFAFA; border-radius: 5px; padding: 7px 70px; text-align: center"
                           type="password" name="password_old" id="password_old" placeholder="Старый пароль"/>
                </div>
                <div style="padding: 20px 0 0 100px">
                    <button class="border border-1" style="background-color: #3897F0; padding: 10px 128px"
                            type="submit"><b style="color: white">Change password</b></button>
                </div>
                <div style="padding-top: 100px"></div>
            </form>
        </div>
    </div>
{% endblock %}