{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div style="text-align: center">
        <img style="width: 300px;" src="{% static 'image/inst.png' %}" alt="">
    </div>
    <form action="{% url 'update_profile' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'partials/user_form.html' %}
        {% include 'partials/profile_form.html' %}
        <div style="display: flex">
            <input type="submit" value="UPDATE" style="background-color: #3897F0; color: white"
                   class="border btn">
            <a style="background-color: #3897F0; color: white; margin-left: 20px" class="btn"
               href="{% url 'change_password' %}">CHANGE PASSWORD</a>
        </div>
        <div style="padding-top: 100px"></div>
    </form>
{% endblock %}